body{
    background-image: url('../../public/img/color_background.png');
    background-repeat: repeat;
}

.badge-normal{
    --bs-bg-opacity: 1;
    background-color: lightgray !important;
    color: black !important;
}

.badge-fighting{
    --bs-bg-opacity: 1;
    background-color: #d56723 !important;
    color: white !important;
}

.badge-flying{
    --bs-bg-opacity: 1;
    background-color: skyblue !important;
    color: white !important;
}

.badge-poison{
    --bs-bg-opacity: 1;
    background-color: violet !important;
    color: white !important;
}

.badge-ground{
    --bs-bg-opacity: 1;
    background-color: brown !important;
    color: white !important;
}

.badge-rock{
    --bs-bg-opacity: 1;
    background-color: darkgray !important;
    color: white !important;
}

.badge-bug{
    --bs-bg-opacity: 1;
    background-color: olive !important;
    color: white !important;
}

.badge-ghost{
    --bs-bg-opacity: 1;
    background-color: purple !important;
    color: white !important;
}

.badge-steel{
    --bs-bg-opacity: 1;
    background-color: steelblue !important;
    color: black !important;
}

.badge-fire{
    --bs-bg-opacity: 1;
    background-color: orangered !important;
    color: white !important;
}

.badge-water{
    --bs-bg-opacity: 1;
    background-color: blue !important;
    color: white !important;
}

.badge-grass{
    --bs-bg-opacity: 1;
    background-color: green !important;
    color: white !important;
}

.badge-electric{
    --bs-bg-opacity: 1;
    background-color: yellow !important;
    color: black !important;
}

.badge-psychic{
    --bs-bg-opacity: 1;
    background-color: magenta !important;
    color: white !important;
}

.badge-ice{
    --bs-bg-opacity: 1;
    background-color: lightblue !important;
    color: black !important;
}

.badge-dragon{
    --bs-bg-opacity: 1;
    background-color: slateblue !important;
    color: red !important;
}

.badge-dark{
    --bs-bg-opacity: 1;
    background-color: slategrey !important;
    color: white !important;
}

.badge-fairy{
    --bs-bg-opacity: 1;
    background-color: pink !important;
    color: black !important;
}

.badge-unknow{
    --bs-bg-opacity: 1;
    background-color: white !important;
    color: black !important;
}

.badge-shadow{
    --bs-bg-opacity: 1;
    background-color: whitesmoke !important;
    color: slategrey !important;
}

.bg-normal{
    background-color: lightgray !important;
}

.bg-figthing{
    background-color: #d56723 !important;
}

.bg-flying{
    background-color: skyblue !important;
}

.bg-poison{
    background-color: violet !important;
}

.bg-ground{
    background-color: brown !important;
}

.bg-rock{
    background-color: darkgray !important;
}

.bg-bug{
    background-color: olive !important;
}

.bg-ghost{
    background-color: purple !important;
}

.bg-steel{
    background-color: steelblue !important;
}

.bg-fire{
    background-color: orangered !important;
}

.bg-water{
    background-color: blue !important;
}

.bg-grass{
    background-color: green !important;
}

.bg-electric{
    background-color: yellow !important;
}

.bg-psychic{
    background-color: magenta !important;
}

.bg-ice{
    background-color: lightblue !important;
}

.bg-dragon{
    background-color: slateblue !important;
}

.bg-dark{
    background-color: slategrey !important;
}

.bg-fairy{
    background-color: pink !important;
}

.bg-unknow{
    background-color: white !important;
}

.bg-shadow{
    background-color: whitesmoke !important;
}