<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/pokemon.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


    <title>Pokedex</title>

    <script>
        var app = angular.module("myApp", ["ngRoute"]);
        app.config(function($routeProvider){
            $routeProvider
            .when("/", {
                templateUrl: "pokedex.htm",
                controller: "pokedexCtrl"
            })
            .when("/pokemon/:id", {
                templateUrl: "pokemon.htm",
                controller: "pokemonCtrl"
            });
        });

        app.controller('pokedexCtrl', function ($scope, $http) {
            $scope.pokemons = [];
            $scope.pokemon = {name: "", types: [{type: {name: ""}}], stats: [{base_stat: "", stat: ""}, {base_stat: "", stat: ""}], sprites: {front_default: ""}};

            $http.get("https://pokeapi.co/api/v2/pokemon?offset=0&limit=20")
                .then(function (response) {
                    $scope.pokemons = response.data.results;
                });

            $scope.offset = 0;
            $scope.limit = 20;

            $scope.anterior = function () {
                if ($scope.offset > 0) {
                    $scope.offset -= 20;

                    $http.get("https://pokeapi.co/api/v2/pokemon?offset=" + $scope.offset + "&limit=" + $scope.limit)
                        .then(function (response) {
                            $scope.pokemons = response.data.results;
                        });
                }

            }

            $scope.proximo = function (offset, limit) {
                if ($scope.offset < 880) {
                    $scope.offset += 20;

                    $http.get("https://pokeapi.co/api/v2/pokemon?offset=" + $scope.offset + "&limit=" + $scope.limit)
                        .then(function (response) {
                            $scope.pokemons = response.data.results;
                        });
                }
            }

            $scope.detalhes = function (url) {
                $http.get(url)
                    .then(function (response) {
                        $scope.pokemon = response.data;
                    });
                $('[ng-model="ficha"]').prop('style', 'visibility: visible; margin-top: calc('+event.pageY+'px - 400px);');
            }

            $scope.esconder = function(){
                $('[ng-model="ficha"]').prop('style', 'visibility: hidden;');
            }
        });

        app.controller('pokemonCtrl', function($scope, $routeParams, $http){

            $http.get("https://pokeapi.co/api/v2/pokemon/"+$routeParams.id)
                .then(function (response) {
                    $scope.pokemon = response.data;

                    $http.get("https://pokeapi.co/api/v2/pokemon-species/"+$routeParams.id)
                    .then(function (responseSpecies) {
                        $scope.pokemonSpecies = responseSpecies.data;
                        $scope.types = [];

                        for(let i = 0; i < $scope.pokemon.types.length; i++){
                            $http.get($scope.pokemon.types[i].type.url)
                            .then(function (responseType) {
                                $scope.types.push(responseType.data);
                            });
                        }

                        $http.get($scope.pokemonSpecies.evolution_chain.url)
                        .then(function (responseEvolutionChain) {
                            $scope.evolution = getPokemonEvolutionChain(responseEvolutionChain.data.chain);
                        });
                    });
                });
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(
            function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });

        function getPokemonEvolutionChain(chain){
            let especies = [];
            let nome = chain.species.name;
            let sprite = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/"+chain.species.url.split("/")[6]+".png";
            let condition = chain.evolution_details !== undefined && chain.evolution_details[0] !== undefined ? getEvolutionDetails(chain.evolution_details[0]) : 'nível 1';
            especies.push({"nome": nome, "sprite": sprite, "condition": condition});

            if(chain !== undefined && chain.evolves_to !== []){
                let tamanho = chain.evolves_to.length;
                for(let i = 0; i < tamanho; i++){
                    let auxiliar = getPokemonEvolutionChain(chain.evolves_to[i])
                    for(let i = 0; i < auxiliar.length; i++){
                        especies.push(auxiliar[i]);
                    }
                }
            }
            
            return especies;
        }

        function getEvolutionDetails(evolution_details){
            console.log(evolution_details.trigger);
            switch (evolution_details.trigger.name) {
                case 'level-up':
                    return 'nível '+evolution_details.min_level;
                    break;

                case 'trade':
                    return 'ao trocar';
                    break;

                case 'use-item':
                    return 'utilizar '+evolution_details.item.name;
                    break;

                default:
                    return '';
                    break;
            }
        }

    </script>
</head>

<body ng-app="myApp">
    <header class="jumbotron bg-danger text-center">
        <img src="../public/img/pokemon_logo.png" alt="Pokemon!" height="100" width="240">
    </header>
    <main class="container py-10" ng-view>
         
    </main>
</body>
</html>